/*! header start*/
header {
  border-bottom: 1px solid #dee0ea; /* kenarlığın:  genişliği stili rengi*/
  position: relative;

}
.global-notificition {
  background-color: #1367ef;
  padding: 14px 0; /*yukardan aşağı 14px, sağdan soldan 0*/
  text-align: center; /*yazı ortalandı*/
  font-size: 12px;
  color: white;
}
.global-notificition a {
  color: white; /*a etiketi en yukarıda siyah renk yapıldığı için burda ayrıca beyaz yapıp yukardaki özelliği ezdik */
  font-weight: 600;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}
.header-wrapper {
  display: flex; /*yan yana gelecekler*/
  justify-content: space-between; /*sağlı sollu hizalandı*/
  align-items: center; /*yukardan aşağı ortaladı*/
}

.header-mobile {
  font-size: 24px;
  cursor: pointer; /*tıklanabilir*/
  display: none;
}

.header-center .bi-x-circle {
  display: none;
}

.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px; /*.menu listin kapsadığı colonlar birbirinden uzaklaşıyor*/
  align-items: center; /*dikeyde hizala*/
}
.header-center .menu-list .menu-list-item {
  display: flex; /*menu-list-item classlı i ve içindeki a aynı yükseklikte olması için*/
  align-items: center;
  position: relative; /*.menu-dropdown-wrapper kısmını hapsetmesi için*/
  height: 90px;
}
.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500; /*harf kalınlığı*/
  text-transform: uppercase; /*bütün harfleri büyük harf yaptı*/
  letter-spacing: 1.2px; /*harflerin aralarını açtı*/
  position: relative;
}

.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1367ef;
  position: absolute; /*yukarıda kapsayıcısına relative vermemiz gerekir (.header-center .menu-list .menu-link)*/
  bottom: -2px; /*bottom altındaki divden yukarı çıkartmayı sağlar, biz - değer verirsek aşağı inmiş olur*/
  left: 50%;
  transform: translate(-50%); /*ortaladı*/
  transition: 0.2s ease width; /*geçişli yaptı*/
}
.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%; /*yukarda 0 değerini verdik, hover olduğunda yani mouse üstüne geldiğinde 100% olsun yani görülsün, hover değilken görülmesin 0 olsun */
}
.header-center .menu-list .menu-link.active::after {
  width: 100%; /*menu-link active ise*/
}
.header-center .menu-list i {
  font-size: 12px;
}
.header-right .header-right-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header-right .bi-person {
  font-size: 23px;
}
.header-right .toggle-button {
  border: none;
  background-color: transparent;
}
.header-right .header-cart {
  position: relative; /*kafesle*/
}
.header-right .header-cart-link .header-cart-count {
  width: 16px;
  height: 16px;
  background-color: #1367ef;
  color: white;
  font-size: 10px;
  border-radius: 100%; /*yuvarlaştırdı*/
  position: absolute; /*eksenden çıkar*/
  top: -10px; /*yukarıya al*/
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
/*? menu dropdown start */
header .menu-dropdown-wrapper {
  position: absolute; /*kapsayıcısına relative vermemiz lazım (.menu-list-item)*/
  top: 100%;
  left: -30px; /* -dersek sağdan sola kayar, - demezsek soldan sağa kayar*/
  opacity: 0; /*mouse üzerinde değilse görünmesin*/
  visibility: hidden; /*sadece menu yazısının üstüne gelince gözükecek*/
  transition: all 0.2s ease; /*all: tüm css özelliklerine geçiş yaptır*/
}
header .menu-dropdown-content {
  width: 220px;
  background-color: #fff;
  border: 1px solid #dee0ea;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}
header .menu-dropdown-content a {
  display: flex;
  padding: 4px 30px;
  font-size: 14px;
  transition: color 0.2s ease;
}
header .menu-dropdown-content a:hover {
  color: #1367ef; /*tema sayfasında sağ tık incele dediğimizde :hov tık orda hover ı işaretle, yazılan css gözükücek*/
}
.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1; /*mouse üzerine geldiğinde gözükecek*/
  visibility: visible; /*sadece menu yazısının üstüne gelince gözükecek*/
}
.menu-dropdown-megamenu {
  background-color: white;
  border: 1px solid #dee0ea;
  padding: 22px;
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .menu-dropdown-wrapper {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-list-item megamenu-wrapper {
  /*başında .menu-list-item diye belirttiğimde menü açıldı, belirtmeyince açılmadı*/
  position: static !important;
}

.megamenu-wrapper .megamenu-links {
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .megamenu-products-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.megamenu-wrapper .megamenu-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.megamenu-wrapper .megamenu-menu-list a {
  font-size: 14px;
}

.megamenu-wrapper .megamenu-single-title {
  font-size: 18px;
  font-weight: 500;
}

.megamenu-wrapper .megamenu-single-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.megamenu-wrapper .megamenu-single-button {
  margin-top: 5px;
}

/*? menu dropdown end */
/*! header end*/