.section-title{
    text-align: center;
    margin-bottom: 35px;
}
.section-title h2{
    font-size: 32px;
    font-weight: 600;
}

/*! categories start */
.categories{
    margin: 40px 0;
}
.categories .category-list{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap; /*sayfaya sığmayan aşağı taşsın, burada responsive ayarına gerek kalmadı*/
}
/*! categories end */

/*! products start */
.products{
    margin-bottom: 40px;
}
.products .product-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*sayfaya sığmayan aşağı taşsın, burada responsive ayarına gerek kalmadı*/
}
/*! products end */

/*! campaign start */
.campaigns .campaigns-wrapper{
    display: flex;
    gap: 30px; /*hem yatayda hem dikeyde 30px, responsivde tekrar ayarlama yapma gereği duymamak için gap olarak ayarladık, yoksa normalde column-gap yapardık*/
    margin-top: 30px;
    flex-wrap: wrap; /*itemlerin sıkışmaması için*/
  
}
/*! campaign end */